%html
  %head
    %title 『プロダクティブ・プログラマ』サポートページ
  %body
    %h1 『プロダクティブ・プログラマ』サポートページ
    『プロダクティブ・プログラマ -- プログラマのための生産性向上術』（Neal Ford 著、島田浩二 監訳、夏目大 訳、オライリージャパン）の サポートページです。
    %h2
      %a{ :href => 'http://www.amazon.co.jp/o/ASIN/4873114020/butitsuptoust-22' }『プロダクティブ・プログラマ -- プログラマのための生産性向上術』
    %h3 書誌情報
    %p あとで書く
    %h3 正誤表
    誤記・誤訳・誤植などを発見したら、snoozer.05 at ruby-sapporo dot org までメールにてご連絡いただけると助かります。
    %h4 初版に残っているバグ
    %ul
      %li p.xvii 13章 Composed MedhodパターンとSLAP →13章 Composed MethodパターンとSLAP
      %li p.48 3.1.4 「沈黙の時間」を作る → 3.1.3 「沈黙の時間」を作る
      %li p.65 ポピュラーなオープンソースの一般的なバージョン管理ツール → オープンソースの一般的なバージョン管理ツール
      %li p.197 13章 Composed MedhodパターンとSLAP →13章 Composed MethodパターンとSLAP
    %h4 CREDITS
    以下の皆さまからバグレポートをいただきました。ありがとうございます(敬称略)。
    %ul
      %li
        %a{ :href => 'http://fkino.net/' } fkino
      %li
        %a{ :href => 'http://igarashikuniaki.net/tdiary/' } igaiga
