!!! HTML
%html
  %head
    %meta(charset='utf-8')
    %title 『プロダクティブ・プログラマ』サポートページ
  %body
    %h1 『プロダクティブ・プログラマ』サポートページ
    『プロダクティブ・プログラマ -- プログラマのための生産性向上術』
    （Neal Ford 著、島田浩二 監訳、夏目大 訳、オライリージャパン）の サポートページです。
    %h2 書誌情報
    %h3
      %a{ :href => 'http://www.amazon.co.jp/o/ASIN/4873114020/butitsuptoust-22' }
        『プロダクティブ・プログラマ -- プログラマのための生産性向上術』
    %a{ :href => 'http://www.amazon.co.jp/%E3%83%97%E3%83%AD%E3%83%80%E3%82%AF%E3%83%86%E3%82%A3%E3%83%96%E3%83%BB%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9E-%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9E%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E7%94%9F%E7%94%A3%E6%80%A7%E5%90%91%E4%B8%8A%E8%A1%93-Neal-Ford/dp/4873114020%3FSubscriptionId%3D0SQQ58C8ZJED59QF1HG2%26tag%3Dbutitsuptoust-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873114020',:target => '_blank'}
      %img{ :border => '0', :src => 'http://www.oreilly.co.jp/books/images/picture978-4-87311-402-6.gif', :alt => 'プロダクティブ・プログラマ -プログラマのための生産性向上術' }
    %ul
      %li Neal Ford 著
      %li 島田浩二(監訳), 夏目大(翻訳)
      %li 2009年04月25日 発売
      %li 284ページ
      %li 定価: 2,730円(税込)
      %li ISBN978-4-87311-402-6
      %li
        %a{ :href => 'http://oreilly.com/catalog/9780596519780/' }
          原著(The Productive Programmer)
      %li
        %a{ :href => 'http://www.amazon.co.jp/o/ASIN/4873114020/butitsuptoust-22' }
          Amazonで本書を購入
    %h2 正誤表
    誤記・誤訳・誤植などを発見したら、snoozer.05 at ruby-sapporo dot org までメールにてご連絡いただけると助かります。
    %h3 2刷で修正されたバグ
    %ul
      %li p.xvii 13章 Composed MedhodパターンとSLAP →13章 Composed MethodパターンとSLAP
      %li p.48 3.1.4 「沈黙の時間」を作る → 3.1.3 「沈黙の時間」を作る
      %li p.52 下から7行目(findとgrepの組み合わせの例) find -name "*.java" -not ... → find . -name "*.java" -not
      %li p.65 ポピュラーなオープンソースの一般的なバージョン管理ツール → オープンソースの一般的なバージョン管理ツール
      %li p.88 下から13行目 楽観主義的ロック → 楽観的ロック
      %li p.109 脚注 Ruby 2.1 からは → Rails 2.1 からは
      %li p.174 下から7行目 この場合、整数の2はオートボクシングによって →この場合、整数の0はオートボクシングによって
      %li p.197 13章 Composed MedhodパターンとSLAP →13章 Composed MethodパターンとSLAP
      %li p.212 中段の出力結果の最終行 Did too stop fighting! →tooのあとで改行が必要
    %h3 2刷に残っているバグ
    %ul
      %li p.18 4行目 QuickSilver →Quicksilver
      %li p.27 6行目 jClip → iClip
      %li p.31 脚注 Download at → 不要
      %li p.36 脚注 http://www.mousef1eed.com/ →http://www.mousefeed.com/
      %li p.65 4.1から4行目 Buildx →Buildix
      %li p.76 4.9の第2パラグラフの4行め コマンド(cmdlet、コマンドレット呼ばれる)は、 →コマンド(cmdlet、コマンドレット*と*呼ばれる)
      %li p.156 下から2行目 _initialPosition →等幅フォントでの表現が正
      %li p.156 下から2行目 Configuration →等幅フォントでの表現が正
      %li p.186 脚注 ダウンロード → でダウンロード
      %li p.256 索引 DRY原則....118 → DRY原則....87, 118
    %h3 CREDITS
    以下の皆さまからバグレポートをいただきました。ありがとうございます(敬称略)。
    %ul
      %li
        %a{ :href => 'http://fkino.net/' } fkino
      %li
        %a{ :href => 'http://igarashikuniaki.net/tdiary/' } igaiga
      %li
        %a{ :href => 'http://www.hsbt.org/diary/' } hsbt
      %li
        %a{ :href => 'http://d.hatena.ne.jp/sumim/' } id:sumim
      %li
        %a{ :href => 'http://d.hatena.ne.jp/wyukawa/' } id:wyukawa
      %li
        いまい
      %li
        %a{ :href => 'http://blog.tarotaro.org/' } 太郎
      %li
        %a{ :href => 'http://d.hatena.ne.jp/takagimasahiro/' } m-takagi
      %li
        %a{ :href => 'http://twitter.com/yukinobu' } yukinobu
    %h2 ネットでの反応や、関連するページなど
    %a{ :href => 'http://b.hatena.ne.jp/t/prodprog' }「はてなブックマーク」の"prodprog"タグ
    をどうぞ。
